.header{
    background-color: #678983;
    .navbar{
        &-center{
            .nav{
                &-item{
                    margin-right: 35px;
                }
                &-link{
                    text-transform: uppercase;
                    color: color(50);
                    font-size: 16px;
                    padding: 0;
                    position: relative;
                    font-family: font(md);
                    &:after{
                        content: '';
                        position: absolute;
                        width:0;
                        height: 2px;
                        background-color: #092635;
                        bottom: -6px;
                        left: 0;
                        opacity: 0;
                        @include transition(0.3s)
                    }
                    &:hover, &.active{
                        &:after{
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .nav{
            &-item{
                .btn{
                    text-transform: uppercase;
                    font-family: font(bd);
                    &-login{
                        margin-right: 10px;
                    }
                }
            }
           
        }
    }
}