.contactPage{
    .card-body{
        padding-bottom: 80px;
    }
    .contactBox{
      
        &:not(:last-child){
            margin-bottom: 40px;
        }
        h2{
            font-size: 20px;
            font-family: font(sb);
        }
        p{
            font-size: 14px;
            margin-bottom: 0px;
        }
        &_left{
            padding-right: 15px;
        }
    }
    @include media-breakpoint-down(lg){
        .card-body{
            padding-bottom: 30px;
        }
        .contactBox{
            h2{
                font-size: 18px;
            }
        }
    }
}