.petListBanner{
    margin-top: 40px;
    &_inner{
        height: 400px;
        background-color: color(500);
        background-image: url('#{$imageurl}/pet_list_bg.png');
        border-radius: 20px;
        overflow: hidden;
        margin-top: 40px;
        padding: 63px 53px;
        max-width: 765px;
        margin: 0 auto;
    }
    h1{
        font-size: 46px;
    }
    p{
        font-size: 16px;
        margin-top: 28px;
    }
    .btn{
        margin-top: 26px;
    }
}

.myPets{
    margin-bottom: 40px;
    &_inner{
        background-color: rgba(255,255,255,0.7);
        padding:32px;
        border-radius: 0 0 20px 20px;
        max-width: 725px;
        margin: 0 auto;
        h2{
            font-family: font(bd);
            font-size: 24px;
        }
        p{
            font-size: 18px;
            color: rgba(0, 0, 0, 0.6);;
        }
    }
    ul{
       display: flex;
       justify-content: center;
    }
    &_item{
        text-align: center;
        width: 180px;
        min-height: 196px;
        background-color: #53B1FD;
        border-radius:20px;
        padding: 26px;
        background-image: url('#{$imageurl}/petlist_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover  ;
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:not(:last-child){
            margin-right: 20px;
        }
        &_img{
            height: 96px;
            width: 96px;
            background-color: color(500);
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            img{
                position: relative;
                bottom: -10px;
            }
        }
       
        p{
            margin-top: 21px;
            font-family: font(md);
            font-size: 16px;
            margin-bottom: 0px;
            color: color(50);
        }
        &_icon{
            height: 76px;
            width: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: color(620);
            border-radius: 10px;
            margin: 0 auto;
        }
        &-add{
            border: 1px dashed #0BA5EC;
            background-color: color(50);
            background-image: none;
            padding: 0px;
            a{
                width: 100%;
                height: 100%;
                padding: 26px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            p{
                color: color(900);
            }
        }
    }
}