.resetPasswordPage{
    &_link{
        font-size: 12px;line-height: 18px;color: #0086C9;font-weight: 500;text-decoration: underline;
        @include transition(all 0.3s);
        &:hover{
            color: color(550);text-decoration: underline;
        }
    }
    &_txt{
        font-size: 12px;line-height: 18px;font-family: 'Inter-Medium';
    }
    &_box{
        background-color: #FFF1F3;border-radius: 12px;padding: 15px 20px;
        h3{font-size: 16px;line-height: 24px;font-family: 'Inter-Medium';margin-bottom: 8px;}
        p{font-size: 14px;line-height: 20px;}
    }
}