.addNewPetPage{
    &_inner{
        background-color: color(50);border-radius: 20px;padding: 25px 30px;margin-top: 40px;
    }
    &-one{
        .addNewPetPage_details{max-width: 380px;margin: 40px auto 0;}
        .codeSec{
            padding-bottom: 45px;
            &_inner{
                background-color: #F0F9FF;border-radius: 20px;padding: 20px;
                h3{font-size: 16px;line-height: 24px;color: #0B4A6F;margin-bottom: 12px;font-weight: 600;}
                p{font-size: 13px;line-height: 20px;color: #0B4A6F;}
            }
        }
        .fromSec{
            .formNote{
                font-size: 12px;line-height: 16px;color: #5E6368;padding: 3px 0 0 10px;
            }
        }
        .orImage{
            margin: 40px 0 45px;position: relative;
            img{
                width: 100%;
            }
        }
        .scan{ margin-bottom: 40px;
            &_inner{
                background-color: #F4EBFF;padding: 16px 20px;border-radius: 4px;
            }
            &_txt{
                padding-right: 20px;
                p{font-size: 14px;line-height: 20px;color: #0B4A6F;margin-bottom: 8px;}
            }
        }
    }
    &-two{
        .petDetails{
            background-color: #D1FADF;border-radius: 20px;padding: 25px 30px;max-width:580px;margin: 40px auto 0;
            &_txt{
                padding-left: 25px;width: calc(100% - 100px);
                h3{font-size: 16px;line-height: 24px;margin-bottom: 8px;}
                p{font-size: 12px;line-height: 18px;color: #101828;margin-bottom: 15px;}
            }
            &_price{
                h6{font-size: 20px;line-height: 30px;}
                .status{font-size: 12px;line-height: 18px;color: #039855;}
            }
            &_img{width: 100px;}
        }
        .uploadPhoto{margin-bottom: 20px;
            &_img{width: 100px;height: 100px;background-color: #E4E7EC;border-radius: 50%;
                display: flex;align-items: center;justify-content: center;
            }
            label {
                font-size: 16px;line-height: 24px;color: #4E5BA6;font-weight: 600;
                text-decoration: underline;text-align: center;cursor: pointer;margin-top: 10px;
            }
            input {
                border: 0;clip: rect(1px, 1px, 1px, 1px);
                height: 1px;  margin: -1px; overflow: hidden;padding: 0; position: absolute;width: 1px;
            }
        }
        .petForm{
            &_inner{
                max-width: 380px;margin: 0 auto;
                .form-group{
                    p{font-size: 12px;line-height: 18px;color: #101828;}
                }
            }
        }
    }
    @include media-breakpoint-down(xl) {
        &_inner{margin-top: 30px;}
        &-one{
            .addNewPetPage_details{margin: 30px auto 0;}
            .codeSec {
                padding-bottom: 30px;
            }
            .orImage{margin: 30px 0;}
            .scan{margin-bottom: 30px;}
        }
        &-two{
            .petDetails{
                padding: 20px;margin: 30px auto 0;
                &_txt{
                    padding-left: 20px;
                    h3{font-size: 15px;line-height: normal;margin-bottom: 5px;}
                }
                &_price{
                    h6{font-size: 18px;line-height: 24px;}
                }
            }
            .uploadPhoto{
                &_img{
                    width: 85px;height: 85px;
                }
                label{
                    font-size: 15px;line-height: normal;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        &-one{
            .codeSec {
                padding-bottom: 25px;
                &_inner{
                    padding: 15px;
                    h3{font-size: 15px;line-height: 20px;margin-bottom: 10px;}
                }
            }
            .orImage{margin: 25px 0;}
            .scan{margin-bottom: 25px;
            }
        }
        &-two{
            .petDetails{
                padding: 20px 15px;
                &_img{width: 85px;}
                &_price{
                    h6{font-size: 16px;line-height: normal;}
                }
                &_txt{
                    width: calc(100% - 85px);
                }
            }
            .uploadPhoto{
                &_img{
                    width: 75px;height: 75px;
                }
                label{
                    font-size: 14px;line-height: normal;
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        &_inner{margin-top: 20px;padding: 20px 15px;}
        &-one{
            .addNewPetPage_details{margin: 20px auto 0;}
            .codeSec {
                padding-bottom: 20px;
                &_inner{
                    h3{font-size: 14px;line-height: 18px;}
                    p{font-size: 12px;line-height: normal;}
                }
            }
            .orImage{margin: 20px 0;}
            .scan{margin-bottom: 20px;
                &_inner{
                    padding: 15px;
                }
                &_txt{
                    p{font-size: 13px;line-height: normal;margin-bottom: 5px;}
                }
                &_img{
                    margin-top: 15px;
                }
            }
        }
        &-two{
            .petDetails{
                padding: 15px;margin: 20px auto 0;
                &_img{width: 70px;}
                &_txt{
                    padding-left: 15px;width: calc(100% - 70px);
                    h3{font-size: 14px;}
                    p{margin-bottom: 10px;display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;}
                }
                &_price{
                    h6{font-size: 14px;}
                }
            }
            .uploadPhoto{
                margin-bottom: 15px;
                &_img{
                    width: 65px;height: 65px;
                }
                
            }
        }
    }
    @media(max-width: 380px){
        &-one{
            .scan{
                &_inner{
                    display: block !important;
                }
            }
        }
        &-two{
            .petDetails{
                &_inner{display: block !important;}
                &_img{width: 60px;}
                &_txt{
                    width: 100%;padding-left: 0;margin-top: 10px;
                }
            }
            .uploadPhoto{
                margin-bottom: 15px;
                &_img{
                    width: 65px;height: 65px;
                }
                
            }
        }
    }
}