.font-bd{
  font-family: 'Inter-Bold';
}
.font-sbd{
  font-family: 'Inter-SemiBold';
}
.font-md{
  font-family: 'Inter-Medium';
}

.py-80{
  padding: 80px 0px;
}

.h-36{
  font-size: 36px;
  font-family: font(bd);
  img{
    margin-right: 21px;
  }
}
