//Component
@import 'components.button';
// @import 'components.bootstrap-select';
@import 'components.form';
// @import 'components.common-tabs';
// @import 'components.switches';
// @import 'components.datepicker';
@import 'components.icomoon';
@import 'components.commontabs';


//layout
@import 'layout/layout.header';
@import 'layout/layout.footer';
@import 'layout/layout.sidemenu';

//modal
@import 'modals/modal.common-modal';




